html * {
  direction: rtl;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;
  color: #FFF;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #222;
  color: #FFF;
  overflow-x: hidden;
}

header {
  background-color: #333;
  color: white;
  padding: 10px 4px 10px 0;
  text-align: right;
}

header h1 {
  font-size: 0.9em;
  font-weight: lighter;
  margin: 0;
  padding: 0;
  display: inline-block;
}

main {
  margin-bottom:80px;
  font-size: 1em;
}

footer {
  background-color: #333;
  padding: 8px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}

input[type="text"] {
  padding: 6px 8px;
  color: #000;
  border-radius: 5px;
  border: 1px solid #00F;
  width: 50%;
  font-size: 1.1em;
  display: inline-block;
}

button {
  padding: 6px 12px 6px 9px; 
  border-radius: 5px;
  background-color: #04F;
  cursor: pointer;
  display: inline-block;
  font-size: 1.2em;
  vertical-align: middle;
  border:1px solid #000;
}

.floating-scroll-bottons {
  display: inline-block;
  min-height: 80px;
  position: fixed;
  bottom: 16px;
  right: 4px;
  z-index: 100;
  opacity: 0.3;
  cursor: pointer;
  font-size: 1.8em;
  margin-top: 20px;
}

.floating-scroll-bottons:hover {
  opacity: 1;
}

.floating-scroll-bottons a {
  display: block;
  margin: 0 0;
  padding: 0;
  text-decoration: none;
}

.question {
  font-size: 1em;
  background-color: #497;
  margin: 6px 4px;
  padding: 6px 8px;
  border-radius: 8px 2px 3px 0;
  display: inline-block;
}
.question .message {
  padding: 0 12px 0 8px;
  background-color: inherit;
}

.answer {
  display: block;
  margin: 2px 10px;
  font-size: 1em;
}

.answer .text-message {
  padding: 10px 8px;
  margin: 2px 10px;
  border-radius: 8px 0 4px 0;
  background-color: #333;
  color: #EEE;
  font-weight: 500;
  display: inline-block;
}

.suggestions-wrapper {
  display: block;
  margin: 0 10px;
  padding: 0 4px;
  width: auto;

}

.suggestions-wrapper .suggestion {
  font-size: 0.9em;
  margin: 1px 10px;
  padding: 2px;
  background-color: #111;
  border-radius: 0 0 4px 0;
  display: inline-block;
  width: auto;
}

a .emoji {
  color: #39F;
  padding: 2px 4px;
  margin: 4px;
  text-decoration: none;
}

.suggestion a {
  display: inline-block;
  color: #29F;
  background-color: inherit;
  cursor: pointer;
  text-decoration: none;
  font-weight: 500;
  padding-left: 8px;
}

.link {
  margin: 2px 6px 2px 0;
  padding: 2px 6px;
  border: 1px solid #550;
  font-size: smaller;
  background-color: #00F;
  border-radius: 5px 0 5px 0;
  display: inline-block;
}

.link .emoji {
  background-color: inherit;
  padding-right: 10px;
}

.link a {
  background-color: inherit;
  color: #BCF;
  cursor: pointer;
  text-decoration: none;
  padding-left: 8x;
}

.google-wrapper {
  display: block;
  margin: 5px 20px 5px 0;
  box-shadow: 4px 0 1px #e3e3ee;
  padding: 4px 8px;
  background-color: #3682cf;
  border-radius: 8px 0 4px 0;
}

.google-wrapper .google {
  background-color: inherit;
  color: #BCF;
  font-size: xx-small;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0 6px;
}

.google-wrapper .google:not(:first-child) {
  width: 45%;
  display: inline-block;
}

.google-wrapper .google a {
  color: #EEE;
  cursor: pointer;
  text-decoration: none;
  padding-left: 4px;
  font-weight: 900;
  text-shadow: 1px 1px 1px 1px #AA0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  display: inline-block;
  height: 20px;
}

.google-wrapper .google .description {
  background-color: inherit;
  color: #DDD;
  font-weight: 500;
  white-space: pre-wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  display: inline-block;
  height: 35px;
  text-decoration: none;
}